<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Date de Création</th>
      <th>Créateur</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="salon.createur">
      <td>{{salon.id}}</td>
      <td>{{salon.nom}}</td>
      <td>{{salon.description}}</td>
      <td>{{salon.dateCreation | date: 'dd/MM/yyyy'}}</td>
      <td>{{salon.createur.username}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <h1>Tchater en liberté !</h1>


    <p class = "titreMessage">
      De :(Expéditeur),
      le :(Date d'expédition) à (heure)

    </p>
    <div class = "cadreMessage">Coucou mon groupe BAL !! Comment allez vous ? :)</div>
    <br>
    <div class = "votreReponse">Votre réponse :</div>
    <br>
    <div class = "cadreMessageRep"></div>
    <br>
    <button class="button1" type="button">Envoyer</button>
  </div>

</div>
