@charset "UTF-8";

.titreMessage {
  border-collapse: collapse;
  width: 100%;
  color: indianred;
}

h1{
  color: crimson;
}

.cadreMessage {
  border: 1px solid black;
  height: 300px;
  width: 500px;
  text-align: left;
  color: black;
}

.button1 {
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}

.cadreMessageRep{
  border: 1px solid black;
  height: 50px;
  width: 500px;
  text-align: left;
  color: black;
}
