@charset "UTF-8";

.titreMessage {
  border-collapse: collapse;
  width: 100%;
  color: indianred;
}

h1{
  color: crimson;
}

.encadreMessage {
  border: 1px solid black;
  padding: 8px;
  text-align: justify;
  text-align: right;
  color: black;
}
